.powergrid-action-bar {
  min-width: 100%;
  padding: 0;
  box-sizing: border-box;

  @include color-invert;

  .powergrid-action {

    transition: color ease-in-out 0.3s;
    transition: background-color ease-in-out 0.3s;


    padding: 0.25em;

    display: inline-block;
    cursor: pointer;

    text-align: center;

    color: transparent;

    margin-right: 0.5em;

    i.fa {
      transition: color ease-in-out 0.3s;
      color: $color-invert-lighter;

      width: 100%;
      margin-top: 4px;

      font-size: 1.8em;
      text-align: center;
    }
    span {
      font-size: 1.0em;
    }

    &.disabled {
      i.fa { color: $color-invert-light !important; }

      &:hover {
        color: $color-invert-light;
        background-color: transparent;
      }

      cursor: default;
    }

    &:hover {
      color: $color-invert;
      i.fa { color: $color-invert; }
      background-color: $background-invert-lighter;
    }

  }
}