.powergrid-action-bar {
  min-width: 100%;
  background: #eee;
  padding: 0.25em;
  box-sizing: border-box;

  .powergrid-action {
    width: 48px;
    height: 48px;
    display: inline-block;
    cursor: pointer;
    border: solid 1px #aaa;
    text-align: center;
    color: #333;
    margin-right: 0.5em;

    @include background-image(
      linear-gradient(
        top,
        rgba(255,255,255,1) 0%, 
        rgba(246,246,246,1) 47%, 
        rgba(237,237,237,1) 100%)
    );

    i.fa {
      width: 100%;
      margin-top: 4px;

      font-size: 24px;
      text-align: center;
    }

    span {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      font-size: 12px;
    }

    &.disabled {
      color: #999;
      cursor: default;
    }
  }
}