.powergrid-cell {
  @include user-select(none);

  display:inline-block;

  box-sizing: border-box;
  border-right: solid 1px $border-regular;
  min-height: 26px;
  text-align: left;

  overflow: hidden;
  cursor: default;

  margin-bottom: -4px; //Fix a problem with the inline-block display?

  position: relative; //For renderers
}

.powergrid-text-renderer {
  position: relative;

  padding: 4px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.powergrid-number-renderer {
  position: relative;
  text-align: center;

  padding: 4px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}