.powergrid-cell {
  @include user-select(none);

  display:inline-block;

  box-sizing: border-box;
  border-right: solid 1px #eee;
  min-height: 26px;
  text-align: left;
  font-family: 'Helvetica Neue', Arial, sans-serif;

  overflow: hidden;
  cursor: default;

  position: relative;

  &:first-child {
    border-left: solid 1px #eee;
  }
}

.powergrid-text-renderer {
  position: relative;

  padding: 4px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.powergrid-number-renderer {
  position: relative;
  text-align: center;

  padding: 4px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}