.powergrid-cell {
  @include user-select(none);

  display:inline-block;

  display: table-cell;

  vertical-align: middle;

  min-height: 26px;
  text-align: left;

  overflow: hidden;
  cursor: default;

  margin-bottom: -4px; //Fix a problem with the inline-block display?

  position: relative; //For renderers

  .powergrid-cell-content {
    box-sizing: border-box;
    border-right: dotted 1px $border-regular;

    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.powergrid-text-renderer {
  position: relative;

  padding: 4px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.powergrid-number-renderer {
  position: relative;
  text-align: center;

  padding: 4px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.powergrid-field-empty {
  color: $color-light;
  text-align: center;
  font-weight: $font-weight-thiner;
}