.powergrid-error-validation {
  border: solid 1px $color-danger;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  color: $color-danger;
  background-color: $background-danger-light;

  ul {
    list-style: none;
    text-align: left;
    margin: 1em 0;
    padding: 0;
  }
}
