.powergrid-filter-bar {
  white-space: nowrap;
}

.powergrid-filter {
  display:inline-block;
  position: relative;

  .powergrid-operation{
    @include user-select(none);

    width: 20px;
    &.noparam { width: 100%; }

    padding: 0.25em;
    float: left;
    box-sizing: border-box;

    @include like-a-button;
  }

  .powergrid-filter-block {
    width: calc(100% - 20px);
    float: left;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }
}
