.powergrid-footer {

    &>div {
      float: left;
      width: 50%;
      padding: 0.25em;
      box-sizing: border-box;

      &:first-child{
        border-right: solid 1px $background-invert-lighter;
      }
    }
    @include color-invert;

    border-top: solid 1px $background-invert-lighter;

    @include clearfix();
}