form.powergrid-form {
  padding: 1em;

  input[type=text], input[type=number], textarea, select {
    @include input-style;

    width: 100%;
  }

  input[type=checkbox] {
    @include checkbox-style;
  }


  .powergrid-form-content {
    padding: 1em;
  }

  fieldset {
    color: $border-light;
    font-weight: $font-weight-bolder;
    text-align: left;
    font-size: 0.9em;

    border: solid 1px $border-light;
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 0
  }

  a.btn, button, input[type=submit] {
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 0.25em;

    font-size: 1em;

    outline: none;

    border: solid 1px $border-light;
    background-color: $border-regular;

    &:hover { background-color: $border-hover; }

    &:active { background-color: $border-focus; }

    font-weight: $font-weight-bold;
    color: $color;
  }

  hr {
    height: 1px;
    border: none;
    border-bottom: solid 1px $border-light;
  }

  .powergrid-form-field {
    display: table-row;
    word-wrap: none;
    white-space: nowrap;
    padding: 0.25em 0em;
    padding-right: 0.25em;

    .powergrid-form-check {
      box-sizing: border-box;
      display: table-cell;

      padding: 1em;
      text-align: center;
    }

    .powergrid-form-label {
      box-sizing: border-box;
      display: table-cell;

      text-align: left;

      padding: 1em;
      color: $color-lighter;

      label {
        cursor: pointer;
        font-size: 1em;
        font-weight: $font-weight-bolder;
      }

      .hint {
        font-size: 0.9em;
        color: $color-light;
        font-weight: $font-weight-regular;
      }

    }

    .powergrid-form-field {
      padding: 1em;

      box-sizing: border-box;
      display: table-cell;
    }


  }


}