form.powergrid-form {
  padding: 1em;

  input[type=text], input[type=number], textarea, select {
    @include input-style;

    width: 100%;
  }

  input[type=checkbox] {
    @include checkbox-style;
  }


  .powergrid-form-content {
    padding: 1em;
  }

  fieldset {
    border: solid 1px $border-light;
  }

  hr {
    height: 1px;
    border: none;
    border-bottom: solid 1px #ccc;
  }

  .powergrid-form-field {
    word-wrap: none;
    white-space: nowrap;
    padding: 0.25em 0em;
    padding-right: 0.25em;

    .powergrid-form-check {
      box-sizing: border-box;
      display: inline-block;
      width: 5%;
      text-align: center;
    }

    .powergrid-form-label {
      box-sizing: border-box;
      display: inline-block;
      width: 20%;
      text-align: left;
      label { cursor: pointer; }

      color: #666;
      font-style: italic;
    }

    .powergrid-form-field {
      box-sizing: border-box;
      display: inline-block;
      width: 75%;
    }


  }


}