.powergrid-header {
  white-space: nowrap;
}

.powergrid-header-column {
  @include like-a-button;

  display: inline-block;
  position: relative;
  //float: left;
  text-align: center;

  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  border-right: solid 1px #aaa;

  cursor: pointer;

  font-weight: $font-weight-bold;

  font-size: 1.0em;
  color: #333;

  @include user-select(none);

  box-sizing: border-box;
  padding: 0.125em 0.5em;
}
.powergrid-header-resizer {
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
  width: 6px;
  z-index: 10001;
  cursor: we-resize;
  cursor: ew-resize;
}

.powergrid-header-direction {
  font-size: 0.66em;
  position: absolute;
  right: 2px;
  top: 50%;
  line-height: 0;
  color: #666;
}

.powergrid-header-content {
  width: 100%;
  height: 100%;
  position: relative;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}