
.powergrid-row {
  display: block;
  border-bottom: solid 1px #eee;
  white-space: nowrap;
  cursor: default;
  background-color: $line-even;
  font-size: 0.9em;

  &:nth-child(odd) {
    background-color: $line-odd;
  }

  &:hover {
    background-color: $line-hover;
  }

  &.selected {
    background-color: $line-active;
  }
}

.powergrid-data-content-wrapper {
  position: relative;
  height: 300px;
  overflow: hidden;
  overflow-y: auto;

  .powergrid-data-content {
    display: table;
  }
}