/* VARIABLES AND MIXINS */

$font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
$font-initial-size: 17px;

$font-weight-thin: 100;
$font-weight-thiner: 200;
$font-weight-regular: 300;
$font-weight-bolder: 400;
$font-weight-bold: 600;

$border-light: #E4E4E4;
$border-regular: #c9c9c9;
$border-hover: #a8a8a8;
$border-focus: #52bad5;

$line-odd: lighten(#cae9f0, 8%);
$line-even: white;
$line-hover: #cae9f0;
$line-active: #b0e0ed;

$color-light: #bbb;
$color-lighter: #666;
$color: #444;
$color-stronger: #333;
$color-strong: #111;


$color-invert: #ddd;
$color-invert-lighter: #aaa;
$color-invert-light: #666;

$background-success-light: #D0FBA2;
$background-success: #B9E08E;
$background-success-stronger: #A6C584;
$background-success-strong: #9BB57E;
$color-success: #56614B;

$background-danger-light: #FFEAEA;
$background-danger-lighter: #FFBD95;
$background-danger: #E4A782;
$background-danger-stronger: #DE956A;
$background-danger-strong: #B59E7B;
$color-danger: #8A4E20;

$background-light: #f2f2f2;
$background-invert: #333333;
$background-invert-lighter: #414141;

@mixin color-invert {
  color: $color-invert;
  background-color: $background-invert;
}

@mixin font-style {
  font-family: $font-family;
  font-size: $font-initial-size;
  font-weight: $font-weight-regular;
  color: $color;
}

@mixin input-style {
  outline: none;

  border: solid 2px $border-regular;
  border-radius: 3px;
  font-size: 1.0em;
  box-sizing: border-box;
  padding: 0.125em 0.25em;

  &:hover { border: solid 2px $border-hover; }
  &:focus { border: solid 2px $border-focus; }
}

@mixin checkbox-style {

}

/* The element can interact with mouse and/or keyboard */
@mixin interactive {
  transition: color ease-in-out 0.1s;
  color: $color;
  cursor: pointer;
  &:hover { color: $color-stronger; }
  &:focus { color: $color-strong; }
}

/* The element has the look and feel of a button */
@mixin like-a-button {
  @include interactive;

  text-align: center;
  font-size: 0.9em;
  font-weight: $font-weight-bold;

  transition-property: background-color, color;

  background-color: rgba(246,246,246,1);
  &:hover { background-color: rgba(240,240,240,1); }
  &:active { background-color:  rgba(237,237,237,1); }
}