@import 'compass';
@import 'font-awesome';

@import './rails_powergrid/_actions';
@import './rails_powergrid/_row';
@import './rails_powergrid/_cell';
@import './rails_powergrid/_modal';

@import './rails_powergrid/_headers.scss';
@import './rails_powergrid/editors/_text';
@import './rails_powergrid/editors/_select';

.powergrid-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
